
body {
    font-family: 'inter', sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

.nav-link {
    font-size: 15px;
    color: gray;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.nav-item .btn{
    background-color: #d9d9d9; 
    color: black; 
    font-size: small;
    padding: 10px 20px;
    border-radius: 0%;
}


.dropdown-menu {
    color:  #0A2540;
}

/* Carousel */
.c-item {
    height: 500px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.4); 
}

.c-caption {
    text-align: left;
    margin-bottom: 5%;
}

/* .c-caption h1 {
    font-size: 3rem;
    font-weight: bold;
} */

.c-caption .btn {
    background-color: #b5b5b5; 
    color: black; 
    font-size: small;
    padding: 10px 20px;
    border-radius: 0%;
}


/* Who we are section*/
.home-who-we-are .btn {
    background-color: #0A2540; 
    color: white; 
    font-size: small;
    padding: 10px 20px;
    margin-top: 5%;
    margin-bottom: 2%;
    border-radius: 0%;
    border: none;
}


/* Recent Projects Section*/
.recent-projects {
    background-color: #F1EEEE;
}

.recent-projects .btn {
    background-color: #0A2540; 
    color: white; 
    font-size: small;
    padding: 10px 20px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 0%;
}

/* Services Section */
#home-services {
    align-items: center;
    border: 0.1rem;
    border-radius: 1rem;
    margin: 1%;
}

#home-services img {
    border-radius: 1rem;
    width: 55%;
    margin: 10%;
}


#home-services button {
    background-color: #0A2540; 
    color: white; 
    font-size: small;
    padding: 10px 20px;
}

/* Rentals Section */
#home-rentals {
    align-items: center;
    margin: 1%;
}

.rentals a{
    text-decoration: none;
    color:#0A2540;
}

.rentals a:hover{
    color:none;
}

/* Testimonials Section */

#testimony {
    align-items: center;
    border:none
}


/********<<<<<<<<<<<<<<<<<<< About.html Page>>>>>>>>>>>>>>***************/

.about-section h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.cbanner-caption {
    text-align: center;
    margin-bottom: 10%;
}

.cbanner-caption h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2%;
}

.cbanner-caption a {
    color: white; 
    font-size: small;
}

.breadcrumb-nav {
    --bs-breadcrumb-divider: '>>';
    --bs-breadcrumb-divider-color: white;
    font-weight: bold;
    justify-self: center;
}

/*********<<<<<<<<<<<<< rfq.html Page and Contact.html Page>>>>>>>>>>>>***/

.required::after {
    content: " *";
    color: red;
}

.btn-custom {
    background-color: #0A2540;
    color: white;
    width: 100%;
    margin: 20px 0;
}

.btn-custom:hover {
    background-color: #081b31;
}


/********<<<<<<<<<<<<<<<<<<< service.html Page>>>>>>>>>>>>>>**************/


/********<<<<<<<<<<<<<<<<<<< Rental.html Page>>>>>>>>>>>>>>***************/

.rentals{
    margin-bottom: 5%;
    background-color: #0A2540;
    color:#fff;
}

/*
.post-img img:hover {
    filter: brightness(0.4);
}

.post-img button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d9d9d9; 
    color: black; 
    font-size: small;
    padding: 10px 20px;
    border-radius: 0%;
    text-align: center;
}
 
.post-img button:hover {
    background-color: #0A2540;
    color: white;
}
*/

/********<<<<<<<<<<<<<<<<<<< Renovation.html Page>>>>>>>>>>>>>************/




/********<<<<<<<<<<<<<<<<<<< Projects.html Page>>>>>>>>>>>>>>*************/

.projects{
    margin-bottom: 5%;
}


.bg-footer {
    background-color: #0A2540;
    padding: 50px 0 30px;
    font-size: 14px;
    color:#acacac;
}
.footer-heading {
    letter-spacing: 2px;
}

.footer-link a {
    color: #acacac;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #fff;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.facebook {
    background-color: #4e71a8;
    color: #ffffff;
}

.instagram {
    background: #833ab4;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
      );
    color: #ffffff;
}

.google {
    background-color: #d6492f;
    color: #ffffff;
}

.apple {
    background-color: #424041;
    color: #ffffff;
}

.footer-alt {
    color: #acacac;
}

.footer-link li a{
    text-decoration: none;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #fff;
}